{% extends 'base.html.twig' %}

{% block title %}Catalogue - TECH NOIR{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog_home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog_home') }}
{% endblock %}

{% block body %}
<div class="catalogue-page">
    {# <h1>Catalogue</h1> #}

    <div class="category-list">
        {% for categorie in categories %}
            <div class="category-card">
                <a href="{{ path('catalog', {'slug': categorie.slug}) }}">
                    {% if categorie.image %}
                        <div class="category-image">
                            <img src="{{ asset('images/uploads/categories/' ~ categorie.image) }}" alt="{{ categorie.nom }}">
                        </div>
                    {% endif %}
                    <div class="category-title">{{ categorie.nom }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}