{% extends 'base.html.twig' %}

{% block title %}Accueil - TECH NOIR
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="homepage-desktop">


		<section class="slideshow">
			<div class="slides">
				{% for i in 1..2 %}
					<img src="{{ asset('images/slideshow/Slide_1.webp') }}" alt="Slide 1">
					<img src="{{ asset('images/slideshow/Slide_2.webp') }}" alt="Slide 2">
					<img src="{{ asset('images/slideshow/Slide_3.webp') }}" alt="Slide 3">
					<img src="{{ asset('images/slideshow/Slide_4.webp') }}" alt="Slide 4">
				{% endfor %}
			</div>
		</section>

		<section class="categories fade-in">
			<h3>
				<a href="{{ path('catalog_all') }}" class="catalog-title-link">
					Catalogue
				</a>
			</h3>
			<div class="category-container">
				<div class="scroll-wrapper">
					{% for categorie in categories %}
						<div class="category">
							<a href="{{ path('catalog', { slug: categorie.slug }) }}">
								<img src="{{ asset('images/uploads/categories/' ~ categorie.image) }}" alt="{{ categorie.nom }}">
								<p>{{ categorie.nom }}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<div class="promo-video-container">
			<video class="promo-video" autoplay muted loop>
				<source src="{{ asset('videos/promo.mp4') }}" type="video/mp4">
				Votre navigateur ne supporte pas la vidéo.
			</video>
		</div>


	</div>
{% endblock %}
