<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Technoir
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>

	<body>
		<div class="wrapper">

			<header class="nav-bar">
				<div class="logo">
    <img src="{{ asset('images/logo-technoir.gif') }}" alt="Tech Noir Logo" class="logo-img">
</div>

				<form class="search-bar" action="{{ path('search') }}" method="get">
					<i class="fas fa-search"></i>
					<input type="text" name="q" placeholder="Recherche..." value="{{ app.request.get('q') }}">
				</form>

				<div class="nav-icons">
					<a href="{{ path('homepage') }}">
						<i class="fas fa-house"></i>
						<span>Accueil</span>
					</a>
					<a href="{{ path('catalog_all') }}">
						<i class="fas fa-list"></i>
						<span>Catalogue</span>
					</a>
					<a href="{{ path('cart') }}">
						<i class="fas fa-shopping-cart"></i>
						<span>Panier</span>
					</a>

					{% if app.user %}
						<a href="{{ path('app_profile') }}">
							<i class="fas fa-user"></i>
							<span>Profil</span>
						</a>
						<a href="{{ path('app_logout') }}">
							<i class="fas fa-sign-out-alt"></i>
							<span>Déconnexion</span>
						</a>
					{% else %}
						<a href="{{ path('app_login') }}">
							<i class="fas fa-sign-in-alt"></i>
							<span>Connexion</span>
						</a>
						<a href="{{ path('app_register') }}">
							<i class="fas fa-user-plus"></i>
							<span>Inscription</span>
						</a>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('admin') }}">
							<i class="fas fa-cog"></i>
							<span>Admin</span>
						</a>
					{% endif %}
				</div>
			</header>

			<main>
				{% block body %}{% endblock %}
			</main>

		</div>


		<footer class="site-footer">
			<div class="footer-content">
				<div class="footer-logo">TECH<br><span>NOIR</span>
				</div>
				<div class="footer-links">
					<a href="{{ path('catalog_all') }}">Catalogue</a>
					<a href="{{ path('conditions') }}">Conditions Générales</a>
					<a href="{{ path('mentions') }}">Mentions légales</a>
				</div>
				<div class="footer-contact">
					<p>Contact: contact@technoir.fr</p>
					<p>©
						{{ "now"|date("Y") }}
						TECH NOIR</p>
				</div>
			</div>
		</footer>

		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('catalog') }}
		{% endblock %}

	</body>
</html>
